
mkdocs==1.4.3               # https://pypi.org/project/mkdocs/#history
mkdocs-material==9.5.32     # https://pypi.org/project/mkdocs-material/#history
mkdocs-redirects==1.2.0     # https://pypi.org/project/mkdocs-redirects/#history
mkdocs-minify-plugin==0.6.4 # https://pypi.org/project/mkdocs-minify-plugin/#history
